body{
    background-color: lightgreen ;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace ;
}

.container{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;

}


.input{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 0;
}


button{
    background-color: lightgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}